.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
    margin-right: 10px;
}

.item {
    font-size: 28px;
}

.item a{
    color: #ffffff;
    text-decoration: none;
}

.item .activeLink{
    color: gold;
}

.setting {
    padding-top: 25px;
}